<section id="content-receipt" class="clearfix">
 <div id="receipt-container">
  <div class="dotmatrix left"></div>
   <div id="receipt-content">
   <h2 id="receipt-title">Thank You!</h2>
   <h3><strong>RECEIPT</strong></h3>
     <div id="receipt-details" class="row clearfix">
  <div class="col-sm-8 receipt-left">
<h3><strong class="font-weight-heavy">Open Cinema</strong><br/> 
  <span class="font-weight-light">We hope you enjoy the movie</span></h3>
    </div>
<div class="col-sm-4">
<h1>FREE</h1>
 </div>
</div>
<a href="https://www.dropbox.com/s/zbu2lgyf6iuxoih/invoice.pdf?dl=0"><button type="button" class="btn btn-success btn-xs">DOWNLOAD YOUR TICKET</button></a>
<footer id="receipt-footer">
<small>Your purchase is complete</small>
</footer>
 </div>
<div class="dotmatrix right"></div>
 </div>
<div id="receipt-shadow"></div>
</section>

