<section id="content-receipt" class="clearfix">
 <div id="receipt-container">
  <div class="dotmatrix left"></div>
   <div id="receipt-content">
   <h4 id="receipt-title">Thank You!</h4>
   <p><strong>OPEN CINEMA RECEIPT</strong></p>
     <div id="receipt-details" class="row clearfix">
  <div class="col-sm-8 receipt-left">
<p><strong class="font-weight-heavy">Fight Club</strong><br/> 
  <span class="font-weight-light">We hope you enjoy the movie</span></p>
    </div>
<div class="col-sm-4">
FREE
 </div>
</div>
<a href="https://www.dropbox.com/s/zbu2lgyf6iuxoih/invoice.pdf?dl=0"><button type="button" class="btn btn-success btn-xs">DOWNLOAD YOUR TICKET</button></a>
<footer id="receipt-footer">
<small>Your purchase is complete</small>
</footer>
 </div>
<div class="dotmatrix right"></div>
 </div>
<div id="receipt-shadow"></div>
</section>

