<%= render 'layouts/header' %>

      <div class="starter-template">
        <h1>Welcome To Open Cinema</h1>
        <p class="lead">We are an award-winning network of community cinemas across the UK and Ireland. </br>We've secured seed investment to build a prototype digital platform <br/> to take cinema into the 21st century!</p>
      </div>

<div class="container">
    <div class="center">
    <div class="row">
       
          <div class="col-md-6 col-md-offset-3">
          <div class="thumbnail">
            <!--<<div class="col-lg-4">
             <!--<img src="..." alt="...">-->
             <%= image_tag('IMG_3465.JPG') %>
           <div class="caption">
        <h3>Now Showing: <b><%= @product.title %> <i class="fa fa-film"></i></b></h3>
        <h4>Venue: Electric Works - Sheffield</h4>
        <h4><b><i class="fa fa-calendar"></i> 8th April <i class="fa fa-clock-o"></i> 18.00</b> </h4>
        <p><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Venue Manager: Colin Tan <i class="fa fa-user"></i>
        </button></p>

        <P><strong>Electric Works</strong> is a state-of-the-art
            Serviced office space for a vibrant community of creative,
            digital and media businesses in Sheffield</p>
           <p>Price: <b>ABSOLUTELY FREE!</b></p>


        <p><button type="button" class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#myModal1">
        <i class="fa fa-check-square-o"></i>
</i>I want this
        </button></p>
    
  
  </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <h4 class="modal-title" id="myModalLabel">Welcome To Open Cinema</h4>
      </div>
      <div class="modal-body">

        
                <p><strong>Hey, I'm Colin Tan</strong></p>
                <p>I am the Entreprenuer in Residence at DotForge
                A Social Ventures Accelerator based in sheffield </p>
                <P>Dotforge is an initiative created to attract and nurture top startups from around the world by providing them with pre-seed capital, mentorship and the environment they need to build and grow their business.</p>

                <p><b>Now Showing: Fight Club</b></p>

                <p> If you're searching for a movie that will appeal to your sarcastic sense of humor and challenge your mind, then Fight Club is your film. Fight Club is by far my favorite movie, and it should also be your favorite movie.</p>

                <p>In addition to an incredible plot, the cinematography is second to none. David Fincher (Director of Seven and The Game) has once again orchestrated an excellent movie displayed in vivid scenes by challenging visual effects. Photogrammetry was extensively used in Fight Club and truly sets it apart from the mainstream of Hollywood films. These effects are like none that I have seen in other movies. </p>

                <p>Follow me on Twitter <a href="https://twitter.com/dotforgeimpact" target="_blank">@dotforgeimpact</a>
                 Website: <a href="http://www.dotforgeaccelerator.com/" target="_blank">Dot Forge Accelertor</a></p>
        
            <div id="modal-right" class="pull-left">
                <%= image_tag('colin.jpeg', alt: 'Colin Tan') %>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <h2 class="modal-title" id="myModalLabel"><b>Open Cinema Presents</h2>
      </div>
      <div class="modal-body">
                <h1><b>Fight Club</b> <i class="fa fa-file-video-o"></i></h1>
                <h3><b><i class="fa fa-clock-o"></i> 18.00  <i class="fa fa-calendar"></i> 8th April 2015</b></h3>
                <h4> If you're searching for a movie that will appeal to your sarcastic sense of humor and challenge your mind, then Fight Club is your film.</h4>
                <p>Follow Open Cinema on Twitter <a href="https://twitter.com/weareopencinema" target="_blank">@weareopencinema</a>
                
                <p>To get your tickets simply fill in the form below</p>

                <iframe src="https://docs.google.com/forms/d/1rQxKX0bxVOwMiycAJQWenI-dIjBbsqKRrdOkCLMu7LY/viewform?embedded=true#start=embed" width="400" height="400" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

                <p>Taking cinema into the 21st century: <a href="http://www.opencinema.net/" target="_blank">Open Cinema</a></p>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>




