

    <div class="container">

      <div class="starter-template">
        <h1>Welcome To Open Cinema</h1>
        <p class="lead">Some text goes here , and some text goes here as well</p>
      </div>

    </div><!-- /.container -->


<div class="container">

  
    <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
             <!--<img src="..." alt="...">-->
             <%= image_tag('header-image.jpg') %>
           <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
         
        <div class="col-md-4">
          <div class="thumbnail">
             <img src="..." alt="...">
           <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
        <div class="col-md-4">
          <div class="thumbnail">
             <img src="..." alt="...">
           <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
    </div>
  
  <div class="row">
        <div class="col-lg-12">
        <br><br>
          <p class="pull-right"><a href="http://www.opencinema.net">Open Cinema</a> &nbsp; ©Copyright 2015<sup>TM</sup></p>
        <br><br>
        </div>
    </div>
</div>






